<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
<div *ngFor="let crib of cribs" class="col-4"><!--for each item in cribs array we will have local access to it through 'crib'-->
  <div class="img-thumbnail">
    <img class="img-thumbnail" src="assets/images/{{crib.image}}.jpg" alt="">
    <div class="caption">
      <div *ngIf="!crib.showDetails">
        <h4>
          <span class="label label-primary">
            {{ crib.type }}
          </span>
        </h4>
        <h3>
          <i class="glyphicon glyphicon-tag"></i>
          {{ crib.price | currency:'USD':true }}
        </h3>
        <h4>
          <span class="glyphicon glyphicon-home"></span>
          {{ crib.address }}
        </h4>

        <hr>

        <button 
          class="btn btn-sm btn-success"
          *ngIf="!crib.showDetails"
          (click)="crib.showDetails = !crib.showDetails">
          Details
        </button>
      </div>
      <div *ngIf="crib.showDetails">
        <div class="details">
          <h4>
            <span class="label label-warning">
              {{ crib.bedrooms }} Bedrooms
            </span>
            <span class="label label-primary">
              {{ crib.bathrooms }} Bathrooms
            </span>
            <span class="label label-primary">
              {{ crib.area }} sqft.
            </span>
          </h4>
          <p>{{ crib.description }}</p>
          
          <hr>
          <button 
            class="btn btn-sm btn-danger"
            *ngIf="crib.showDetails"
            (click)="crib.showDetails = !crib.showDetails">
            Less
          </button>
        </div>
      </div>
    </div>
  </div>
</div>